name: E2E Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  e2e-tests:
    runs-on: windows-latest
    timeout-minutes: 60

    env:
        ASPNETCORE_ENVIRONMENT: CI


    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build projects
      run: dotnet build --configuration Release --no-restore


    - name: Set up Environment
      run: |
        choco install sqlite -y
        dotnet workload install wasm-tools

    # -------------------------------
    # Install Playwright browsers
    # -------------------------------
    - name: Install Playwright browsers
      shell: pwsh
      run: ./BankingSystem.E2ETests/bin/Release/net8.0-windows/playwright.ps1 install --with-deps

    # -------------------------------
    # Start API
    # -------------------------------
    - name: Start API
      shell: pwsh
      run: |
        $apiProc = Start-Process dotnet `
          -ArgumentList "run --project BankingSystem.Api/BankingSystem.Api.csproj --urls=http://localhost:7178 --no-launch-profile" `
          -NoNewWindow -PassThru
        Write-Host "Started API process ID: $($apiProc.Id)"

        Wait-ForService -Url "http://localhost:7178/health" -Name "API"

        # Debug
        # dir  ./BankingSystem.Api

        # $DBPath = "./BankingSystem.Api/db_bankingSystem.db"
        # $tables = & sqlite3 $DBPath ".tables"
        # Write-Host "Tables in DB: $tables"

        # $users = & sqlite3 $DBPath "SELECT UserName, Email FROM AspNetUsers;"
        # Write-Host "Users in DB:`n$users"

        # $roles = & sqlite3 $DBPath "SELECT Name FROM AspNetRoles;"
        # Write-Host "Roles in DB:`n$roles"

        # -------------------------------
        # Start UI
        # -------------------------------

        $ui = Start-Process dotnet `
            -ArgumentList "run --project BankingSystem.WebUI/BankingSystem.WebUI.csproj --urls=http://localhost:7247 --no-launch-profile" `
            -NoNewWindow -PassThru

        Wait-ForService -Url "http://localhost:7247" -Name "UI"

        # -------------------------------
        # Run E2E tests
        # -------------------------------

        dotnet test BankingSystem.E2ETests/ --configuration Release --no-build --verbosity normal --settings BankingSystem.E2ETests/BankingSystem.E2ETests.runsettings

        # -------------------------------
        # Waiting function
        # -------------------------------

        function Wait-ForService {
            param(
                [Parameter(Mandatory = $true)]
                [string]$Url,
                [string]$Name = "Service",
            )

            Write-Host "⏳ Waiting for $Name at $Url ..."
            $ready = $false

            $maxRetries = 30
            $ready = $false
            for ($i = 0; $i -lt $maxRetries; $i++) {
              try {
                $resp = Invoke-WebRequest -Uri "http://localhost:7178/health" -UseBasicParsing -TimeoutSec 5
                if ($resp.StatusCode -eq 200) {
                  Write-Host "API ready!"
                  $ready = $true
                  break
                }
              } catch {
                Start-Sleep -Seconds 2
              }
            }
            if (-not $ready) { Write-Error "API never became ready"; exit 1 }
        }

    - name: Upload Playwright artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-screenshots
        path: |
          **/page.png
          **/playwright-report





